@import url('https://fonts.googleapis.com/css?family=Kanit');

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto,sans-serif;
  color: white; 
  background: #0F2027;
  background: -webkit-linear-gradient(to right, #228ebc, #106b89, #01291e);
  background: linear-gradient(to right, #172226, #0d2127, #000c11);
}

#root {
  width: 100%;
  height: 100%;
}

